{% extends 'base.html' %}
{%load staticfiles%}
{% block content %}
<div class="main-post-list">
    <ol class="post-list">
        {% for blog in blogs %}
        <li>
            <h2 class="post-list__post-title post-title"><a href="/">{{ blog.title }}</a></h2>
            <p class="excerpt">{{ blog.content|striptags|safe|truncatechars:"200" }}</p>
            <div class="post-list__meta">
                <time datetime="2017-01-03 00:00:00 +0000" class="post-list__meta--date date">
                    <img src="{% static 'images/calendar.png'%}" width="20px"/>
                    {{ blog.created_time|date:"Y-m-d" }}</time>
                <div class="tag-img-icon">
                    <img src="{% static 'images/tag-icon.svg'%}" width="20px"/>
                </div>
                <div class="post-list-icon-mate">
                    <span class="post-list__meta--tags-right">{{ blog.blog_type }}</span>
                </div>
                <div class="post-list-small-mate"><a class="btn-border-small" href="{% url 'blog_detail' blog.id %}">阅读全文 » </a>
                </div>
            </div>
            <hr class="post-list__divider"/>
        </li>
        {% endfor %}
    </ol>
    <hr class="post-list__divider "/>
    <nav class="pagination" role="navigation">
        <span class="pagination__page-number">1 / 2</span>
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="http://baixin.io/page/2/#blog">更早 →</a>
    </nav>
</div>

{% endblock %}
